@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderPartial("Header_Layout");
}
@*<------------sidebar------>*@
@{
    Html.RenderPartial("Side_Layout");
}
@*<------------End ofsidebar------>*@

@*<-- Content Wrapper -->*@
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        @{
            Html.RenderPartial("Topbar_Layout");
        }
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                </a>
            </div>
            <!-- Content Row -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-12
                     3. col-lg-12">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Create Template</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie">
                                @*<form action="@Url.Action("mailSend")" method="post">*@
                                <div class="form-group">
                                    <input type="hidden" id="idhidden" />

                                    <div class="form-group">
                                        <label>Template Name</label>
                                        <input id="templateName" type="text" Class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>Template Subject</label>
                                        <input id="templateSub" type="text" Class="form-control" />
                                    </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Message</label>
                                            <textarea class="form-control" id="editor1" name="Message" rows="10" aria-describedby="emailHelp"></textarea>
                                        </div>
                                    </div>
                                <button type="button" class="btn btn-primary saveEvents" id="onclickevent">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    CKEDITOR.replace('editor1', {
     height: 200,
     baseFloatZIndex: 10005
   });
    </script>




