@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/index.css" rel="stylesheet" />

<form>
<div class="container-fluid mainpage"> 
    <div class="row loginpage text-center">
        <div class="card  maincard">

            <img src="~/Content/images/mail1.png" class="logo logomail" width="120" height="120" alt="img"/>
            <div class="form-group"> 
              <input id="Text1" type="text" placeholder="Enter Your Mail" Class="form-control"/>
            </div>

            <div class="form-group">
                <input id="Text1" type="text" placeholder="Password" Class="form-control" />
            </div>
            <div class="form-group">
                <input id="Button1" type="button" value="LOGIN" Class="form-control button_1 text-white"  />
            <div>
</div>
            </div>
    </div>
</div> 
</div>
</form>